{% extends 'employee/templates/base_visitor.html' %}
{% block about_active %}active{% endblock %}

{% block body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>
<h3>IT professionals face a challenge when deciding to invest in new computers for their organization. Knowing what computers cost and whether
they will meet the needs of the users is often uneasy to achieve. Pre-made computers may not be the solution. An alternative is to build custom computers.

Our website addresses this problem and will allow IT professionals to upgrade or replace their user systems easily and quickly will meeting their user’s needs.
</h3>
</body>
</html>
{% endblock %}