{% extends 'manager/templates/base.html' %}
{% block title %}Choose A Component{% endblock %}


{% block body %}
<a href="{% url 'manager:register_cpu' %}" class="btn btn-primary btn-sm" role="button">CPU</a>
<a href="{% url 'manager:register_hdd' %}" class="btn btn-primary btn-sm" role="button">Hard Drive</a>
<a href="{% url 'manager:register_ram' %}" class="btn btn-primary btn-sm" role="button">RAM</a>
<a href="{% url 'manager:register_videocard' %}" class="btn btn-primary btn-sm" role="button">Video Card</a>
<a href="{% url 'manager:register_powersupply' %}" class="btn btn-primary btn-sm" role="button">Power Supply</a>
<a href="{% url 'manager:register_monitor' %}" class="btn btn-primary btn-sm" role="button">Monitor</a>
<!--<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Choose a Component</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'manager/templates/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                 </div>
            </div>
        </div>
    </div> -->

{% endblock %}