{% extends 'manager/templates/base.html' %}
{% block title %}{{ customer }}{% endblock %}
{% block customer_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <button onclick="ShowHide()">Show/Hide available departments</button>
    <div id ="departments" style="display:none">        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Available Departments</h4>
                        {% for departmentname in departments %}
                        <h5> {{ departmentname.department_name }}</h5>
                        {% endfor %}

                        {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Filter by Department</h3>
        <div class="form-group">
            <label class="control-label col-sm-2" for="id_department">
                Department:
            </label>
            <div class="col-sm-10">
                <input id="id_department" maxlength="30" name="department" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>

<script>
function ShowHide() {
    var x = document.getElementById('departments');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
        {% if customers %}
            {% for customer in customers %}
                <div>
                        <a href="{% url 'manager:customer_details' customer.id %}">
                        </a>
                    <br>
                        <div class="'row'">
                            <h2>{{ customer.last_name }}, {{customer.first_name}}</h2>
                            <h4>{{customer.department}}</h4>
                            <a href=
                                       "{% url 'manager:customer_details' customer.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}

                            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'manager:register_customer' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add a customer
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
            </div>
        </div>
<div>
    <br>
     <a href="{% url 'manager:register' %}" class="btn btn-primary btn-sm" role="button">Add user</a>

    <br>
    <br>
     <a href="{% url 'manager:register_department' %}" class="btn btn-primary btn-sm" role="button">Add department</a>
<div>


{% endblock %}


